@model DACN3.Models.ViewModel.DetailOfDevice
@{
    ViewData["Title"] = "Chi tiết thiết bị";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết thiết bị</title>
</head>
<body>
    <h1>Thông Tin Thiết Bị</h1>

    <p><strong>Name:</strong> @Model.NameDevice</p>
    <p><strong>Classification:</strong> @Model.NameDeviceClassfication</p>
    <p><strong>Supplier:</strong> @Model.NameSupplier</p>
    <p><strong>Class:</strong> @Model.NameClass</p>
    <p><strong>Quantity:</strong> @Model.Quantify</p>
    <button id="buttonToReportPage">Chuyển đến trang chụp hình</button>

    <script>
        document.getElementById('buttonToReportPage').addEventListener('click', function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của nút button

            // Tạo URL chứa DeviceID (sử dụng template string)
           
            const url = `/Camera/Capture`;

            window.location.href = url;
        });
    </script>
</body>
</html>

