@model DACN3.Models.ViewModel.DetailOfDevice

<!DOCTYPE html>
<html>
<head>
    <title>Device Details</title>
</head>
<body>
    <h1>Thông Tin Thiết Bị</h1>
    <p> <span id="deviceId" data-id="@Model.DeviceID"></span></p>
    <p><strong>Name:</strong> @Model.NameDevice</p>
    <p><strong>Classification:</strong> @Model.NameDeviceClassfication</p>
    <p><strong>Supplier:</strong> @Model.NameSupplier</p>
    <p><strong>Class:</strong> @Model.NameClass</p>
    <p><strong>Quantity:</strong> @Model.Quantify</p>
    <button id="buttonToReportPage">Chuyển đến trang báo cáo</button>

    <script>
        document.getElementById('buttonToReportPage').addEventListener('click', function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của nút button

            const deviceId = document.getElementById("deviceId").getAttribute("data-id"); // Lấy DeviceID từ thuộc tính data-id

            // Tạo URL chứa DeviceID (sử dụng template string)
            const url = `/Notification/Report?deviceID=${deviceId}`;

            // Chuyển hướng trang tới URL mới có chứa DeviceID
            window.location.href = url;
        });
    </script>
</body>
</html>

