@model DACN3.Models.ViewModel.DetailOfDevice
@{
    ViewData["Title"] = "Chi tiết thiết bị";
}
<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết thiết bị</title>
</head>
<body>
    <h1>Thông Tin Thiết Bị</h1>

    <p><strong>Tên Thiết Bị:</strong> @Model.NameDevice</p>
    <p><strong>Loại thiết bị:</strong> @Model.NameDeviceClassfication</p>
    <p><strong>Nhà Sản Xuất:</strong> @Model.NameSupplier</p>
    <p><strong>Lớp Học:</strong> @Model.NameClass</p>
    <p><strong>Số lượng thiết bị :</strong> @Model.Quantify</p>
    <button id="buttonToReportPage">Tạo Báo cáo </button>

    <script>
        document.getElementById('buttonToReportPage').addEventListener('click', function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của nút button

            // Tạo URL chứa DeviceID (sử dụng template string)
           
            const url = `/Camera/Capture`;

            window.location.href = url;
        });
    </script>
</body>
</html>

