@model IEnumerable<DACN3.Models.ViewModel.NotificationDevice>

@{
    ViewData["Title"] = "ListNotificationHistory";
}

<h1>ListNotificationHistory</h1>

<form action="/Notification/ListNotificationHistory" method="get">
    <label for="status">Status:</label>
    <select id="status" name="Status">
        <option value="">-- All --</option>
        <option value="Approved">Approved</option>
        <option value="Cancelled">Cancelled</option>
        <!-- Các trạng thái khác bạn muốn lọc -->
    </select>
    <button type="submit">Filter</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
        </tr>
}
    </tbody>
</table>
