@model IEnumerable<DACN3.Models.ViewModel.NotificationDevice>

@{
    ViewData["Title"] = "Danh sách báo cáo";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}

<h1>Danh sách báo cáo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Thời gian
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Lý do
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <div class="description-container">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td>
                <img src="@Url.Content(item.Image)" alt="Image" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .description-container {
        max-height: 50px; /* Chiều cao tối đa của mô tả khi thu gọn */
        overflow: hidden;
    }

    .expanded {
        max-height: none; /* Loại bỏ giới hạn chiều cao khi mở rộng */
    }

</style>