@model IEnumerable<DACN3.Models.ViewModel.BrokenHistoryNotification>

@{
    ViewData["Title"] = "Danh sách báo cáo";
    Layout = "~/Views/Shared/LayoutList.cshtml";
}

<h1>Danh sách báo cáo</h1>

<table class="table">
    <thead>
        <tr>
@*             <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                Thời gian
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
@*                 <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" alt="Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <button class="confirm-notification" data-id="@item.Id" data-value="true">Duyệt</button>
                    <button class="cancel-notification" data-id="@item.Id" data-value="false">Hủy</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).on('click', '.confirm-notification', function () {
        var notificationId = $(this).data('id');
        var value = $(this).data('value');

        $.ajax({
            url: "/Notification/ConfirmNotification",
            method: "POST",
            data: { id: notificationId, value: value },
            success: function (response) {
                console.log("Yêu cầu đã được gửi thành công");
                alert("Xác nhận thay đổi tình trạng thành công");
                location.reload(); // Tải lại trang sau khi xác nhận thành công
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log("Đã xảy ra lỗi: " + error);
            }
        });
    });

    $(document).on('click', '.cancel-notification', function () {
        var notificationId = $(this).data('id');
        var value = $(this).data('value');
        var reason = prompt("Vui lòng nhập lý do hủy");

        if (reason === null || reason.trim() === '') {
            alert("Vui lòng nhập lý do hủy!");
        } else {
            $.ajax({
                url: "/Notification/CancelNotification",
                method: "POST",
                data: { id: notificationId, value: value, Reason: reason },
                success: function (response) {
                    console.log("Dữ liệu đã được chuyển thành công");
                    location.reload();
                },
                error: function (error) {
                    console.log("Đã xảy ra lỗi: " + error);
                }
            });
        }
    });




</script>