@model IEnumerable<DACN3.Models.ViewModel.BrokenHistoryNotification>

@{
    ViewData["Title"] = "Danh sách báo cáo";
    Layout = "~/Views/Shared/LayoutInventory.cshtml";
}
<div class="detail">
    <div class="report">
        <div class="cardHeader">
            <h2>DANH SÁCH BÁO CÁO</h2>
        </div>
<table>
    <thead>
        <tr>
            <th>Thời gian</th>
            <th>Mô tả</th>
            <th>Hình ảnh</th>
            <th>Số lượng</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" alt="Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <button class="confirm-notification" data-id="@item.Id" data-value="true">Duyệt</button>
                    <button class="cancel-notification" data-id="@item.Id" data-value="false">Hủy</button>
                </td>
            </tr>
        }
            </tbody>
        </table>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    $(document).on('click', '.confirm-notification', function () {
        var notificationId = $(this).data('id');
        var value = $(this).data('value');

        $.ajax({
            url: "/Notification/ConfirmNotification",
            method: "POST",
            data: { id: notificationId, value: value },
            success: function (response) {
                console.log("Yêu cầu đã được gửi thành công");
                alert("Xác nhận thay đổi tình trạng thành công");
                location.reload(); // Tải lại trang sau khi xác nhận thành công
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log("Đã xảy ra lỗi: " + error);
            }
        });
    });

    $(document).on('click', '.cancel-notification', function () {
        var notificationId = $(this).data('id');
        var value = $(this).data('value');
        var reason = prompt("Vui lòng nhập lý do hủy");

        if (reason === null || reason.trim() === '') {
            alert("Vui lòng nhập lý do hủy!");
        } else {
            $.ajax({
                url: "/Notification/CancelNotification",
                method: "POST",
                data: { id: notificationId, value: value, Reason: reason },
                success: function (response) {
                    console.log("Dữ liệu đã được chuyển thành công");
                    location.reload();
                },
                error: function (error) {
                    console.log("Đã xảy ra lỗi: " + error);
                }
            });
        }
    });
    
    
</script>
<style>
    .action-buttons {
        display: flex;
        gap: 10px; /* Adjust the gap between buttons */
    }

    .confirm-notification,
    .cancel-notification {
        background-color: #4CAF50; /* or your preferred color for confirm button */
        color: #fff;
        border: none;
        padding: 8px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    .cancel-notification {
        background-color: #dc3545; /* or your preferred color for cancel button */
    }

        .confirm-notification:hover,
        .cancel-notification:hover {
            filter: brightness(90%); /* Adjust brightness on hover as desired */
        }
    tr td {
        text-align: center;
    }

</style>